* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(circle at bottom left, rgba(255, 255, 0, 0.9), rgba(255, 255, 0, 0) 70%),
    radial-gradient(circle at top left, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 70%),
    radial-gradient(circle at center right, rgba(255, 0, 255, 0.8), rgba(255, 0, 255, 0) 50%);
  background-size: 200% 200%;
  animation: movement 10s ease infinite alternate-reverse;
}

@keyframes movement {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 100% 100%;
  }
}

body {
  height: 100vh;
  font-family: open sans;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #10214e;
}

.business-card {
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  background: rgb(140, 191, 253);
  background: linear-gradient(0deg, #000000 100%, #000000 100%);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
  border-radius: 1rem;
  position: relative;
  height: 290px;
  overflow: hidden;
  transition: .25s;
  padding-bottom: 1em;
}

article main {
  background: rgb(255, 255, 255);
  transition: .25s;
  height: 260px;
}

h1 {
  margin: 2rem 0 1rem;
  color: #4e54c8;
  transition: .25s .15s;
}

img {
  width: 8em;
  border-radius: 10em;
  border: 5px transparent;
  position: relative;
  top: 10px;
  left: 10px;
  transition: .25s .15s;
  margin-bottom: 15px;
}

img:hover {
  border: 5px solid;
}

.line {
  border-bottom: 5px solid #4e54c8;
}

p, h1 {
  text-align: center;
}